@use '@styles/utils';
@use '@styles/colors';
@use '@styles/breakpoints';

.visitSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include utils.padding(x, 6);
    max-width: 1060px;
    .text {
        text-align: center;
        max-width: 520px;
        margin-bottom: 30px;
        @include breakpoints.sm {
            margin-bottom: 57px;
        }
    }
    .reservationBtn {
        padding: 1px 25px;
        margin-bottom: 40px;
        border-radius: 10px;
        background-color: black !important;
        @include breakpoints.sm {
            margin-bottom: 94px;
        }
    }
    .dividerContainer {
        display: flex;
        align-items: center;
        max-width: 1660px;
        width: 100%;
        gap: 10%;
        margin-bottom: 40px;
        @include breakpoints.sm {
            margin-bottom: 104px;
        }
        .divider {
            background-color: #111111;
            height: 1px;
            // width: 100%;
            flex-grow: 1;
        }
    }
    .title {
        margin-bottom: 14px;
        text-align: center;
    }
    .subtitle {
        max-width: 1060px;
        text-align: center;
        margin-bottom: 80px;
        @include breakpoints.sm {
            margin-bottom: 200px;
        }
    }
}
