@use '@styles/colors';
@use '@styles/utils';

.spinner-full-screen {
    color: colors.$primary-black;
}

.wrapper-full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$white;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
