@use '@styles/colors';
@use '@styles/utils';
@use '@styles/breakpoints';

.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1060px;
    @include utils.padding(y, 6);
    @include breakpoints.sm {
        @include utils.padding(x, 6);
    }
}
