$primary-black: #111111;
$primary-yellow: #ffdd84;
$secondary-yellow: #ffebb7;
$primary-white: #fff9ea;

$primary: #1770ff;
$primary-dark: #215dd6;
$primary-light: #2576d51d;

$blue-light: #eaf2ff;
$blue-dark: #243c53;

$gray-light: #efefef80;
$gray-100: #f7f7f9;
$gray-200: #eff1f3;
$gray-300: #e4e7ea;
$gray-400: #c9d0da;
$gray-500: #a7b0b9;
$gray-600: #738291;
$gray-700: #1e2124;

// $black: #1e2124;
$white: #fff;

$text-primary: $primary-white;
$text-secondary: $secondary-yellow;
$placeholder: $gray-500;
$lines: $gray-300;
$button-secondary: $gray-200;
$background: $gray-100;
// $input: $gray-100;
$input-outline: $gray-200;

// $header: #2b455e;

$success: #00a720;
$success-light: #e8f7eb;
$success-dark: #00911c;

$danger: #ff5555;
$danger-light: #ffe7eb;
$danger-dark: #fe173b;

// for unsolved rows
$red-odd: #ff000028;
$red-even: #ff00001b;
$red-hover: #ff00003f;

// for selected rows
$purple-odd: #0011ff1e;
$purple-even: #0011ff30;
$purple-hover: #0011ff3c;

// for columns
$green: #008d411d;
$light-green: #7ef45b1d;
$light-yellow: #f4f45b1d;
$light-orange: #e884211d;

// other
$orange: #fd9758;
