@use '@styles/colors';
@use '@styles/utils';

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    $size: utils.sizer(5);
    width: $size;
    height: $size;
    background: colors.$white;
    border: utils.sizer(0.5) solid colors.$input-outline;
    @include utils.borderRadius(sm);

    &[data-state='indeterminate'],
    &[data-state='checked'] {
        border-color: colors.$primary;
        background: colors.$primary;
    }
    &-disabled {
        opacity: 0.5;
    }
    &-error {
        border-color: colors.$danger;
    }
    &:hover {
        cursor: pointer;
    }
}

.indicator {
    color: colors.$white;
}
