@use '@styles/utils';
@use '@styles/colors';

@mixin base {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.placeholder {
    @include base();
}

.sort-button {
    @include base();
    justify-content: space-between;
    cursor: pointer;

    &:focus-visible {
        @include utils.ring();
    }
}

.sort-icons {
    // @include utils.padding(all, 1.5);
    padding-left: 4px;
    // TODO: Make more visible
    // TODO: Make more visible (active state)
    color: colors.$gray-500;
}
