@use '@styles/colors';
@use '@styles/utils';
@use '@styles/breakpoints';

.footer {
    display: flex;
    flex-direction: column;
    background-color: colors.$primary-black;
    .info {
        @include utils.padding(x, 3);
        @include utils.padding(y, 8);
        .infoSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .infoSectionWrapper {
                max-width: 350px;
                width: 100%;
                @include breakpoints.sm {
                    width: auto;
                    max-width: auto;
                }
                .title {
                    // text-align: center;
                    // @include breakpoints.sm {
                    //     text-align: start;
                    // }
                    @include utils.margin(bottom, 4);
                }
                .socialMedia {
                    display: flex;
                    flex-direction: column;
                    gap: utils.sizer(1);
                    &_item {
                        display: flex;
                        align-items: center;
                        gap: utils.sizer(2);
                        color: white;
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
                .timetable {
                    display: flex;
                    flex-direction: column;
                    .day {
                        display: flex;
                        justify-content: space-between;
                        gap: 100px;
                        p {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        gap: utils.sizer(4);
        @include utils.padding(all, 4);
    }
}
