@use '@styles/colors';
@use '@styles/utils';

.table {
    flex-grow: 1;
}

.header {
    color: colors.$text-secondary;
    border-bottom: utils.sizer(0.25) solid colors.$gray-400;
}

.th {
    text-align: center;
    @include utils.padding(y, 2);
    @include utils.fontSize(sm);
    text-transform: capitalize;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: utils.sizer(1);
}

.columns {
    display: flex;
    flex-direction: column;
    gap: utils.sizer(1);
    @include utils.margin(top, 2);
}
