@use '@styles/utils';
@use '@styles/colors';
@use '@styles/breakpoints';

.container {
    display: none;
    align-items: center;
    @include breakpoints.sm {
        display: flex;
    }
    .details {
        display: flex;
        flex-direction: column;
        gap: utils.sizer(0.5);
        align-items: start;
        .name {
            color: colors.$primary-black;
            font-weight: 600;
            @include utils.fontSize(sm);
        }
        .email {
            color: colors.$gray-700;
            @include utils.fontSize(xs);
        }
    }
    .logoutBtn {
        padding: 10px;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}
