@use '@styles/utils';
@use '@styles/colors';

.calendar {
    display: flex;
    flex-direction: column;
    gap: utils.sizer(2);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
        color: colors.$primary;
        font-weight: 600;
        text-transform: capitalize;
    }
}
